body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

form {
    background-color: #fff;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form b {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="button"] {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="button"]:hover {
    background-color: #0056b3;
}


form {
    background-color: #fff;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h4 {
    text-align: center;
    color: #333;
    text-transform: uppercase;
}

form b {
    display: block;
    margin-bottom: 5px;
    color: #666;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.content {
    margin-top: 20px;
}

p {
    color: #666;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

li:before {
    content: "\2022";
    color: #007bff;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="button"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="button"]:hover {
    background-color: #45a049;
}

frame {
    border: 2px solid #333; 
}
#frame1 {
    background-color: #E6E6FA; 
}

#frame2 {
    background-color: #F0F8FF; 
}

#frame3 {
    background-color: #FAF0E6; 
}

#frame4 {
    background-color: #F5F5DC;
}

#frame5 {
    background-color: #F0FFF0; 
}

#frame6 {
    background-color: #FFE4E1; 
}

#frame7 {
    background-color: #FDF5E6; 
}

#frame8 {
    background-color: #FFF8DC; 
}
